.DS_Store
node_modules/
/dist/
/vue-shop/
/vue-typescript-dpapp-demo/
/vuepress/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
test.*
